
a:link {
    text-decoration: none;
    color: black;
   }
   
   a:visited {
    color: black;
   }
   
   a:hover {
    color: blue;
    text-decoration: underline;
   }
   
   li{
    margin-left: 2em;
    margin-right: 0.33em;
   }
   
   header{
       text-align: center;
       margin-bottom: 3em;
       margin-top: 1em;
   }
   
   H1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
   }
   
   .subtitle{
     font-size: 3em;
   }
   
   H3 {
    font-size: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: normal;
   }
   